<!-- This example requires Tailwind CSS v2.0+ -->
<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">

  <div id="registration_forms" class="min-w-full">
    <%= render @registration_forms %>
  </div>

</ul>

